<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密碼</title>
</head>
<body>

<form id="pd_form_submit" method="post">
    用户名:<br>
    <input type="text" name="email">
    <br>
    当前密码:<br>
    <input type="password" name="prePw"><br>
    新密码：<br>
    <input type="password" name="newPw">
    <input id="pw_modify" type="submit" name="submit">
</form>
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script>
        $("#pd_form_submit").submit(function () {
            $.ajax({
                url: "/bengmall/pwModify",
                type: "POST",//方法类型
                data:$("#pd_form_submit").serialize(),
                dataType: "json",//预期服务器返回的数据类型
                async:false,
                success: function (result) {
                    console.log("修改密碼后的結果： " + result);//打印服务端返回的数据(调试用)
                    if (result.success) {
                        alert("修改密碼成功！");
                        window.location.href = "/bengmall/login";
                    } else {
                        alert("修改密碼失敗，錯誤為： " + result.message);
                    }
                },
                error: function (arg1) {
                    alert("修改密碼過程中出現錯誤！");
                    console.log(arg1.toString());
                    window.location.href = "/bengmall/index";
                }
            })
        });
</script>

</body>
</html>